<div class="header">
    <div class="linha-centralizada">
        <img id="photo" src="../../../assets/images/user.jpg" alt="...">
        <div class="coluna-centralizada">
            <div class="negrito">João Fernandes da Silva</div>
            <div class="fonte-pequena">Energy Power | Carpinteiro</div>
            <div class="fonte-pequena">Equipe Seguranca</div>
        </div>
    </div>
    <div class="descricao">
        <div class="linha-centralizada espaco-lateral">
            <span class="material-icons icon-size">report_problem</span> 
            <div class="negrito">Relato de Condição de Risco</div>
            <div class="pontuacao">(100 pontos)</div>
        </div>
        <div class="fonte-pequena espaco-lateral">
            <p>Motoniveladora em operação sem alarme de ré gerando risco de atropelamento</p>
        </div>
    </div>
</div>
<div class="card">
    <img src="../../../assets/images/feed.png" class="card-img-top" alt="...">
    <div>
        <span class="material-icons icon-size">favorite_border</span> 
    </div>
</div>